.info {
    background-color: #f2f3f5;
    padding: 2rem 0;
    .content {
        margin-top: 0.5rem;
    }
    .item {
        display: flex;
        background-color: $color-second;
        padding: 1rem;
        height: 10rem;
        h1 {
            font-size: 1.2rem;
            font-weight: 600;
        }
        i {
            margin-right: 1rem;
            font-size: 2.5rem;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            border: 2px solid #492245;
            border-radius: 50%;
            text-align: center;
            background: $color-second;
            color: #77c5d6;
        }
        .play-btn {
            font-size: 1rem !important;
            color: $color-second !important;
            background-color: #77c5d6;
        }
    }
}